@use '../partials/variables' as *;

.scroller {
    overflow-y: scroll;
    scrollbar-color: #0A4C95 #C2D2E4;
}

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(40, 40, 40, 1) 50%, rgba(252, 176, 69, 0) 100%);
    border-radius: 10px;
}